<!-- accordion -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Jumbotron fluid</h1>
        <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
    </div>
</div>
<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a class="accordion-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    News and Events
                </a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                <!-- nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#news" role="tab">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#events" role="tab">Events</a>
                    </li>
                </ul>
                <!-- tab content -->
                <div class="tab-content">
                    <div class="tab-pane active" id="news" role="tabpanel">
                        <app-news></app-news>
                    </div>
                    <div class="tab-pane" id="events" role="tabpanel">
                        <app-events></app-events>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<app-show-on-main-companies></app-show-on-main-companies>
<hr>
<app-show-on-main-vacancies></app-show-on-main-vacancies>