<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parseville</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--Add bootstrap-->

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/indexCss.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/marty.js"></script>
    <script async src="../static/js/mapInit.js"></script>
</head>

<body>
<aside class="side-bar">
    <div class="col-xs-12">
        <div class="title-box">
            <h4>Title</h4>
        </div>
        <div class="entry-image"></div>
        <div class="entry-container">Description</div>
    </div>
</aside>
<main class="main-content">
    <nav class="navbar navbar-default">
        <div class="col-xs-12">
            <div class="navbar-header">
                <a class="navbar-logo" href="#">
                    <img class="navbar-logo-img" alt="Logo" src="../static/images/parseville.png">
                </a>
                <i>
                    <span class="navbar-text">Vacancy searcher</span>
                </i>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="content">
            <div class="col-xs-12">
                <div class="row" id="link-block">
                    <!-- обьяснить что происходит внизу -->
                    {% for link in link_list %}
                    <div class="col-xs-12">
                        <div id="link-{{ link.id }}" class="usefull-link">
                            <a href="{{ link.url }}"><h6>{{ link.name }}</h6></a>
                            <p>{{link.description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" id="btn-load-link">More usefull links ...</button>
                    </div>
                </div>
                <hr>
                <div class="row" id="vacancy-block">
                    {% for vacancy in vacancy_list %}
                    <div class="col-xs-4" id="vacancy-{{ vacancy.id }}" onclick="show_more('vacancy', this.id)"
                         style="cursor: pointer">
                        <div class="title-box">
                            <h4>
                                {{ vacancy.name }}
                            </h4>
                        </div>
                        <div class="entry-lank" style="">
                            <h5>{{ vacancy.programming_language }}</h5>
                        </div>
                        <div class="entry-container ">
                            <div class="entry-content"><p>{{ vacancy.description|truncatechars_html:100|safe }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" id="btn-load-vacancy">More vacancies ...</button>
                    </div>
                </div>
                <hr>
                <div class="row" id="company-block">
                    {% for company in company_list %}
                    <div class="col-xs-4" id="company-{{ company.id }}" onclick="show_more('company', this.id)"
                         style="cursor: pointer">
                        <div class="title-box">
                            <h4>
                                {{ comany.name }}
                            </h4>
                        </div>
                        <div class="entry-image" style="">
                            <img src="/media/{{ company.logo }}">
                        </div>
                        <div class="entry-container ">
                            <div class="entry-content"><p>
                                {{company.description|truncatechars_html:100|safe}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" id="btn-load-company">More companies ...</button>
                    </div>
                </div>
                </br>
                <div id="map">
                    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2540.0244182976703!2d30.416830679721098!3d50.459269979577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1478846918907"
                            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                </div>
            </div>
        </div>
    </div>
    <div id="wrap"></div>
    <footer id="footer">
        <div class="copyright-text">
            <p class="copyright-text-signature">Copyright. © 2017 No Name. All rights are Outsource. Designed by. </p>
        </div>
    </footer>
</main>

</body>

<script>

    //    document.getElementById("btn-load-link").onclick = loadMoreLink;
    //
    //    document.getElementById("btn-load-vacancy").onclick = loadMoreVacancy;
    //
    //    document.getElementById("btn-load-company").onclick = loadMoreCompany;

    $(document).ready(function () {

        function postProcessing(data) {
            var myArray = data;
            for (var dict in myArray) {
                switch (dict) {
                    case ("vacancy_list"):
                        for (var elem in myArray[dict]) {
                            vacancies.push(Vacancy.prototype.createFromData(myArray[dict][elem]));
                        }
                        break;
                    case ("company_list"):
                        for (var elem in myArray[dict]) {
                            companies.push(Company.prototype.createFromData(myArray[dict][elem]));
                        }
                        break;
                    case ("link_list"):
                        for (var elem in myArray[dict]) {
                            links.push(Link.prototype.createFromData(myArray[dict][elem]));
                        }
                        break;
                }
            }
        }

        getInit();

        function getInit() {
            $.ajax({
                url: 'http://' + window.location.hostname + ":" + window.location.port + '/api/init/',
                type: 'post',
                dataType: 'json',
                cache: false,
                success: postProcessing,
                async: true,
            });
        }
    });
</script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvnIFhL4lkBp6gqzbtIxP2cfZEIwBMCjw&callback=initMap"></script>
</html>