{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Latest news</h3>
                </div>
                <div class="panel-body">
                    {% if latest_news %}
                        {% for element in latest_news %}
                            <div class="row psv_block_padding">
                                {% if element.image %}
                                    <div class="psv_left-half">
                                        <img class="psv_index_image" src="{{ element.image }}">
                                    </div>
                                    <div class="psv_right-half">
                                        {% if element.date %}
                                            <div class="pull-right psv_default_font">
                                                {{ element.date|date:"M d, Y" }}</div>
                                        {% endif %}
                                        {% if element.name %}
                                            <div class="psv_link" id="new-{{ element.id }}"
                                                 onclick="show_more('new', this.id)">{{ element.name }}</div>
                                        {% endif %}
                                        {% if element.description %}
                                            <div class="psv_default_font">{{ element.description }}</div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {% if element.date %}
                                        <div class="pull-right psv_default_font">{{ element.date|date:"M d, Y" }}</div>
                                    {% endif %}
                                    {% if element.name %}
                                        <div class="psv_link" id="new-{{ element.id }}"
                                             onclick="show_more('new', this.id)">{{ element.name }}</div>
                                    {% endif %}
                                    {% if element.description %}
                                        <div class="psv_default_font">{{ element.description }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if forloop.last %}
                            {% else %}
                                <div class="psv_row_indent"></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <a href="{{ news_url }}">All news <span class="badge">{{ news_count }}</span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Events</h3>
                </div>
                <div class="panel-body">
                    {% if latest_events %}
                        {% for element in latest_events %}
                            <div class="row psv_block_padding">
                                {% if element.image %}
                                    <div class="psv_left-half">
                                        <img class="psv_index_image" src="{{ element.image }}">
                                    </div>
                                    <div class="psv_right-half">
                                        {% if element.date %}
                                            <div class="pull-right psv_default_font">
                                                {{ element.date|date:"M d, Y" }}</div>
                                        {% endif %}
                                        {% if element.name %}
                                            <div class="psv_link" id="new-{{ element.id }}"
                                                 onclick="show_more('new', this.id)">{{ element.name }}</div>
                                        {% endif %}
                                        {% if element.description %}
                                            <div class="psv_default_font">{{ element.description }}</div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {% if element.date %}
                                        <div class="pull-right psv_default_font">{{ element.date|date:"M d, Y" }}</div>
                                    {% endif %}
                                    {% if element.name %}
                                        <div class="psv_link" id="new-{{ element.id }}"
                                             onclick="show_more('new', this.id)">{{ element.name }}</div>
                                    {% endif %}
                                    {% if element.description %}
                                        <div class="psv_default_font">{{ element.description }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if forloop.last %}
                            {% else %}
                                <div class="psv_row_indent"></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <a href="{{ events_url }}">All events <span class="badge">{{ event_count }}</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Vacancies</h3>
                </div>
                <div class="panel-body">
                    {% if latest_vacancies %}
                        {% for element in latest_vacancies %}
                            <div class="row psv_block_padding">
                                {% if element.image %}
                                    <div class="psv_left-half">
                                        <img class="psv_index_image" src="{{ element.image }}">
                                    </div>
                                    <div class="psv_right-half">
                                        {% if element.date %}
                                            <div class="pull-right psv_default_font">
                                                {{ element.date|date:"M d, Y" }}</div>
                                        {% endif %}
                                        {% if element.name %}
                                            <div class="psv_link" id="new-{{ element.id }}"
                                                 onclick="show_more('new', this.id)">{{ element.name }}</div>
                                        {% endif %}
                                        {% if element.description %}
                                            <div class="psv_default_font">{{ element.description }}</div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {% if element.date %}
                                        <div class="pull-right psv_default_font">{{ element.date|date:"M d, Y" }}</div>
                                    {% endif %}
                                    {% if element.name %}
                                        <div class="psv_link" id="new-{{ element.id }}"
                                             onclick="show_more('new', this.id)">{{ element.name }}</div>
                                    {% endif %}
                                    {% if element.description %}
                                        <div class="psv_default_font">{{ element.description }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if forloop.last %}
                            {% else %}
                                <div class="psv_row_indent"></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <a href="{{ vacancies_url }}">All vacancies <span class="badge">{{ vacancy_count }}</span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Companies</h3>
                </div>
                <div class="panel-body">
                    {% if show_on_main_companies %}
                        {% for element in show_on_main_companies %}
                            <div class="row psv_block_padding">
                                {% if element.image %}
                                    <div class="psv_left-half">
                                        <img class="psv_index_image" src="{{ element.image }}">
                                    </div>
                                    <div class="psv_right-half">
                                        {% if element.date %}
                                            <div class="pull-right psv_default_font">
                                                {{ element.date|date:"M d, Y" }}</div>
                                        {% endif %}
                                        {% if element.name %}
                                            <div class="psv_link" id="new-{{ element.id }}"
                                                 onclick="show_more('new', this.id)">{{ element.name }}</div>
                                        {% endif %}
                                        {% if element.description %}
                                            <div class="psv_default_font">{{ element.description }}</div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {% if element.date %}
                                        <div class="pull-right psv_default_font">{{ element.date|date:"M d, Y" }}</div>
                                    {% endif %}
                                    {% if element.name %}
                                        <div class="psv_link" id="new-{{ element.id }}"
                                             onclick="show_more('new', this.id)">{{ element.name }}</div>
                                    {% endif %}
                                    {% if element.description %}
                                        <div class="psv_default_font">{{ element.description }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if forloop.last %}
                            {% else %}
                                <div class="psv_row_indent"></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <a href="{{ companies_url }}">All companies <span class="badge">{{ company_count }}</span></a>
                </div>
            </div>
        </div>
    </div>
    {#    <div id="map"></div>#}
{% endblock %}
{% block script %}
{% endblock %}