<html>
<head>
    <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="../static/js/jquery.loadTemplate-1.4.4.js"></script>
    <script src="../static/js/jquery.loadTemplate-1.4.4.min.js"></script>
    <!--<script type="text/javascript">
        $.ajaxSetup({
//            headers: {
//                'Origin': 'http://138.68.77.7:8000',
//            }
        });
        $.getJSON('http://138.68.77.7:8000/api/vacancy/', function (json) {
            $("h1")[0].innerText = json[0].name;
        });
    </script>-->
    <script type="text/javascript" src="../static/js/parseville.js"></script>
</head>
<body>
<h1>Some Text</h1>
<button id="button" onclick="getJsonOfVacancies()">Red Button. Dont push me!</button>

<div id="vacancies">

</div>
</body>
</html>