<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title text-center">{{selectedVacancy.name}}</h4>
      <input class="close" type="button" data-dismiss="modal" value="&times;">
    </div>
    <div class="modal-body">
      Company: <small>{{selectedVacancy.company_name}}</small>
      <p>{{selectedVacancy.short_text}}</p>
      Date: <small>{{selectedVacancy.date}}</small>
      <div>
        <small><a href="{{selectedVacancy.url}}">Link</a></small>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>