<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let event of events">
      <a href="{{event.url}}" class="list-group-item
       list-group-item-action
       flex-column
       align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">{{event.name}}</h6>
          <small>{{event.date}}</small>
        </div>
        <div class="container">
          <p class="mb-1">{{event.short_text}}</p>
        </div>
        <small>Company: {{event.company_name}} </small>
      </a>
    </li>
  </ul>
</div>