/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        text-align: center;
        height: 60px;
      }
      #footer {
        /* background-color: #f5f5f5; */
      }

      /* Lastly, apply responsive CSS fixes as necessary */
       @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      } 



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .footer-wrapper {
        width: auto;
        max-width: 680px;
      }
      .footer-wrapper .credit {
        padding-top: 2.7%;
        margin: 20px 0;
      }









/* ================-----------------============= */


/* html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}


.footer {
  bottom: 0; 
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
} */
/*
 .container .text-muted {
  margin: 20px 0;
}  */