body {
    font-family: 'Arial', sans-serif;
}
img {
    max-width: 100%
}

aside {
    background-color: #528286;
    text-align: center;
}

aside, aside {
    color: #f7fff3
}

aside a {
    color: #fffc77
}

aside a:hover {
    color: #eeee23
}

aside div {
    padding: 5px;
    margin: 0
}

aside div img {
    border-radius: 0;
    max-width: 140px
}

aside div h1 {
    margin: 5px 0 5px
}

aside div p {
    margin: 0 0 15px;
    font-size: .92em
}

.wrapper {
    min-height: 100%;
    margin-bottom: 50px;
}

.btn-group {
    padding: 20px 0;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
}

.psv_row_indent {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: solid 0.1em #efefef;
}

.psv_block_padding {
    padding-left: 10px;
    padding-right: 10px;
}

.content {
    width: 95%;
    margin: 0 auto;
    padding: 0 15px;
}

.psv-nav-padding {
    padding: 0 25px;
}

.psv_left-half {
    width: 120px;
    float: left;
}

.psv_right-half {
    width: calc(100% - 120px);
    float: left;
}

.psv_default_font {
    font-size: 0.9em;
    color: grey;
}

.psv_link:hover {
    color: #1029a5;
    text-decoration: underline;
    cursor: pointer;
}

.psv_link {
    color: #5986fa;
}

.psv_index_image {
    width: 110px;
}

.psv_pointer:hover {
    cursor: pointer;
    /*background: #b0d9cd;*/
}

#footer {
    min-height: 79px;
    background-color: #e7e7e7;
}

.copyright-text {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: black;
    padding-top: 28px;
}

@media screen and (min-width: 769px) {
    aside {
        width: 25%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
    }

    aside div {
        padding: 10px 10px
    }

    aside div nav ul li {
        padding: 0 !important;
        display: block
    }

    aside div ul.social {
        padding-top: 32px
    }

    main {
        width: 75%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 25%
    }

    main article.single {
        min-height: 80%
    }

    main article ul.list li {
        padding: 2px
    }

    .ads-aside {
        height: 250px
    }

    .ads-responsive {
        height: 90px
    }
}