
    <div class="card-columns">
      <div class="card" *ngFor="let company of companies">
        <img class="card-img-top" src="{{company.image}}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{company.name}}</h4>
          <p class="card-text">{{company.short_text}}</p>
          <!-- <p class="card-text"> {{vacancy.description.substr(0, vacancy.description.length / 4)}}</p> -->
          <small>Date: {{company.date}}</small>
          <div>
            <small><a href="{{company.url}}">Link</a></small>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" data-toggle="modal" data-target="#details" (click)="selectCompany(company.id)">Details</button>
        </div>
      </div>
      <div id="details" class="modal fade" *ngIf="selectedCompany">
        <app-company-modal [selectedCompany]="selectedCompany"></app-company-modal>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <button class="btn btn-info btn-block" (click)="showMoreCompanies()">Show More</button>
      </div>
    </div>




















<!-- <div class="row">
  <div class="col-sm-4" *ngFor="let vacancy of vacancies">
    <div class="card" >
      <div class="card-header">
        {{vacancy.name}}
      </div>
      <div class="card-block">
        <h4 class="card-title">{{vacancy.company_name}}</h4>
        <p class="card-text"> {{vacancy.description.substr(0, vacancy.description.length / 4)}}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary">Details</button>
      </div>
    </div>
  </div>
</div> -->





<!-- <div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card" *ngFor="let vacancy of vacancies">
      <div class="card-header">
        {{vacancy.name}}
      </div>
      <div class="card-block">
        <h4 class="card-title">{{vacancy.company_name}}</h4>
        <p class="card-text"> {{vacancy.description.substr(0, vacancy.description.length / 4)}}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary">Details</button>
      </div>
    </div>

  </div>
</div> -->





<!-- <div class="card">
  <div class="card-header text-center">
    <strong>Vacancies</strong>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let vacancy of vacancies">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1">{{vacancy.name}}</h6>
        <small>Company: {{vacancy.company_name}}</small>
      </div>
      <p class="mb-1">{{vacancy.description.substr(0, 140) + '...'}}</p>      
      <small><a href="{{vacancy.url}}">Link</a></small>
    </li>
  </ul>
</div> -->